<div class="container text-center">
  <div class="row space-top">
      <div class="col-md-8 space">
          <h1>Catalog</h1>
          <p>Select car from the catalog to view details.</p>
      </div>
      <div class="col-md-3 search-box">
            <form class="search" #form="ngForm" (submit)="search(form.value)">
               <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search by Make" name="make" ngModel/>
               <button type="submit" class="btn btn-primary btn-sm search-btn">Search</button>
            </form>
        </div>
  </div>
  <div *ngIf="cars" class="row space-top">
       <div [@list]  *ngFor="let c of cars | paginate: { 
        id: 'cars',
        itemsPerPage: pageSize,
        currentPage: currentPage}"
        class="col-md-4">
           <div class="card text-white bg-primary">
               <div class="card-body">
                   <blockquote class="card-blockquote">
                       <a routerLink="/car/details/{{c._id}}"><img src="{{c.imageUrl}}" /></a>                       
                       <p>{{c.make}}</p>
                       <p>{{c.model}}</p>
                       <div class="pull-right">
                          <a routerLink="/car/details/{{c._id}}" class="btn btn-info btn-action">Details</a>
                          <a *ngIf="authService.isAdmin()" (click)="deleteItem(c._id)" class="btn btn-danger btn-action">Delete</a>
                          <a *ngIf="authService.isAdmin()" routerLink="/car/edit/{{c._id}}" class="btn btn-success btn-action">Edit</a>
                       </div>
                   </blockquote>
               </div>
           </div>
           <br />
       </div>
  </div>

  <div class="row justify-content-md-center text-center">
       <pagination-controls 
         id="cars"
         (pageChange)="changePage($event)"
         maxSize="9"
         directionLinks="true"
         autoHide="true"
         previousLabel="Previous"
         nextLabel="Next"
         screenReaderPaginationLabel="Pagination"
         screenReaderPageLabel="page"
         screenReaderCurrentLabel="You're on page">
       </pagination-controls>
  </div>
  
  <div *ngIf="cars && cars.length === 0">
      <hr>
      <i>There are no cars with these make.</i>
  </div>
</div>