<section>
    <h2>Astronomy</h2>
    <div class="spacer">
        <h3>Edit hostory</h3>
        <ul>
            {{#each edits}}
            <li>
                <a href='/articles/history/edit/{{this._id}}'>{{this.creationDate}}‎</a> by
                <span class="author">{{this.author.email}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</section>