<div class="product-card">
    <img src="{{imageUrl}}">
    <a href="/edit/product/{{_id}}" class="control">
        <img class="control-img" src="/img/edit.png">
    </a>
    <a href="/delete/product/{{_id}}" class="control">
        <img class="control-img" src="/img/delete.png">
    </a>
</div>