<div class="login-page">
    <div class="form">
        <form action="/users/login" method="POST" class="login-form">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">Login</button>
            <p class="message">Not registered?
                <a href="/users/register">Create an account</a>
            </p>
        </form>
    </div>
</div>