<div class="login-page">
    <div class="form">
        <form action="/users/register" method="POST" class="register-form">
            <input type="text" name="username" placeholder="name" />
            <input type="password" name="password" placeholder="password" />
            <input type="text" name="firstName" placeholder="first name" />
            <input type="text" name="lastName" placeholder="last name" />
            <button>create</button>
            <p class="message">Already registered?
                <a href="/users/login">Sign In</a>
            </p>
        </form>
    </div>
</div>