<form method="post">
	<h2>Edit Product</h2>
		<div>
		<label for="category">Category</label>
		<select name="category" id="category" value="{{product.category}}">
			<option value="Beef">Beef</option>
			<option value="Chicken">Chicken</option>
			<option value="Lamb">Lamb</option>
		</select>
	</div>
	<div>
		<label for="imageUrl">Image Url</label>
		<input id="imageUrl" name="imageUrl" type="text" value="{{product.imageUrl}}">
	</div>
	<div>
		<label for="size">Size</label>
		<input id="size" name="size" type="number" value="{{product.size}}">
	</div>
	<div>
		<strong>Toppings</strong>
		<br>
		<textarea id="toppings" name="toppings" type="text">{{product.toppings}}</textarea>
	</div>
	<div>
		<input type="submit" value="Edit" class="button" style="border:0" />
	</div>
</form>