<div class="container">
  <h1 class="text-center">Contact Us</h1>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.744053587185!2d23.350088314868565!3d42.666778923669874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cca4a719b7%3A0xdf53fcbcd8e758d7!2z0KHQvtGE0YLRg9C10YDQtdC9INGD0L3QuNCy0LXRgNGB0LjRgtC10YI!5e0!3m2!1sbg!2sbg!4v1534248589196"
        width="100%" height="320" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>

    <div class="col-sm-4" id="contact2">
      <h3>Contacts</h3>
      <hr align="left" width="50%">
      <h4 class="pt-2">Address</h4>
      <i class="fas fa-globe" style="color:#000"></i>
      "Tintyava" 15-17, Sofia 1000, Bulgaria
      <br>
      <h4 class="pt-2">Phone</h4>
      <i class="fas fa-phone" style="color:#000"></i>
      <a href="tel:+"> 02/12345 </a>
      <br>
      <i class="fab fa-whatsapp" style="color:#000"></i>
      <a href="tel:+"> +359 888 123 456 </a>
      <br>
      <h4 class="pt-2">Email</h4>
      <i class="fa fa-envelope" style="color:#000"></i>
      <a href="">rent.a.car@gmail.com</a>
      <br>
    </div>
  </div>
</div>