<div class="container">
  <div class="text-center">
      <h1> About Us </h1>
      <p>A car rental, hire car, or car hire agency is a company that rents automobiles for short periods of 
        time, generally ranging from a few hours to a few weeks. It is often organized with numerous local 
        branches (which allow a user to return a vehicle to a different location), and primarily located 
        near airports or busy city areas and often complemented by a website allowing online reservations.</p>
      <p>Alongside the basic rental of a vehicle, car rental agencies typically also offer extra 
        products such as insurance, global positioning system (GPS) navigation systems, 
        entertainment systems, mobile phones, portable WiFi and child safety seats.</p>
  
      <hr class="my-4">      
     <h3>Rental conditions</h3>
  </div>    
    <ul>
        <li>Car rentals are subject to many conditions which vary from one country to another and from one 
            company to another. Generally the vehicle must be returned in the same condition it was rented in,
            and often must not exceed mileage restrictions, otherwise, extra fees may be incurred.</li>
          <li>In all cases, a valid driver's license is required in order to rent a vehicle, and some countries require an 
            International Driving Permit (IDP).</li>
          <li>The majority of car rental companies require the use of a credit card to charge additional fees 
            should a defect be found with the car on its return or for road tolls, motoring related fines, 
            or missing fuel. In lieu of a credit card, some companies require a large cash deposit. Some companies permit a debit card for deposits, 
            typically with proof of a round-trip travel ticket, e.g. an airline, bus, or train ticket.</li>      
    </ul>
    <div class="text-center">
      <h5>To see our cars, please first sign in!</h5>
      <a class="btn btn-primary btn-md" routerLink="/signin" role="button">Sing in</a><br/>
    </div>
</div>
