img {
    width: 200px;
}

.space {
    margin-top: 10px;
}

.button-time{
    font-size: 16px;
    padding: 14px 40px;
    width: 100%;
}

.disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.danger {
    color: red;
}

.success{
    color: green;
}